@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Arvo', serif;
    background: #111111;
    color: #fff;
    /* font-size: 2rem; */
    /* overflow: hidden; */
    
}


.container {
    background: #111111;
    color: #fff;
    width: 100%;

}

a{
    text-decoration: none;
    color: #111111;
    padding-left: 5px;
    margin-top: 5px; 
    padding-top: 5px; 
}

a:visited { text-decoration: none;  color: inherit;}
a:hover { text-decoration: none; cursor: pointer; color: inherit;  }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none;  color: inherit;}

nav {
    height: 50px;
    padding-bottom: 15px;
}

button {
    margin-right: 10px;
}

img {
    height: 30px;
    margin-right: 15px;
}



/* ///////////////////////////////// */


:root{
        --themeRed:#000000;   
        /* #e43a47 */
        --gray: #efefef; 
}

html{
        scroll-behavior: smooth;
}


p{
        font-size: 14px;
        line-height: 30px;
}

.fullContainer{
        width: 100%;
}

.container{
        width:11400px;
        margin: auto;      
}

.sectionTitle{
        width: 300px;
        border-bottom: 3px solid var(--themeRed);
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        /* margin: 0px auto 50px; */
        position: relative;
        padding: 8px;
        text-transform: uppercase;
}

.sectionTitle::after{           /*its for the triangle in between the underline of about us  */
        display: inline-block;
        content: "";
        height: 15px;
        width: 15px;
        background-color: var(--themeRed);
        position: absolute;
        left: calc((50% - 10px));
        top: calc(75% - 7px);
        transform: rotate(45deg) translate(52%,52%);
        border: 3px solid #fff;
}

section{
        padding:  0;
        position: relative;
        width: 100% !important;
}


.banner{
        min-height: 100vh;  
        background-image: url("images/banner.jpg");
        background-size: cover;
        background-attachment: fixed;
}

.banner h1{
        margin-top: 220px;
        margin-left: 0px;
        display: inline-block;
        font-size: 3.5rem;
        color: #fff;
        text-shadow: 0 0 2px #000;
        width: 50%;
        line-height: 4.2rem;
        font-family: 'Noto Sans Tangsa', sans-serif;
        font-weight: 500;
        margin-bottom: 30px;
}

.banner h1 span{
        background-color: var(--themeRed);
        display: inline-block;
        line-height: 3.5rem;
        padding: 0 5px 5px 5px;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 20px;
}

.banner p{
        color: #fff;
        width: 58%;
        font-size: 1.4rem;
        text-shadow: 0 0 2px #000;
}

.banner button{
        background-color: var(--themeRed);
        border: 0;
        outline: none;
        color: #fff;
        padding: 15px 15px;
        margin-top: 20px;
        margin-left: 0px;
        font-size: 18px;
        border-radius: 3px;
        font-weight: 600;
}

